@use './../mixins' as *;

.directions {
  margin-bottom: 9rem;

  @include md {
    margin-bottom: calc(100vw/(393/30));
  }

  @include sm {
    margin-bottom: 3rem;
  }

  .general__head {
    margin-bottom: -1.6rem;
    position: relative;
    z-index: 1;

    @include md {
      margin-bottom: calc(-100vw/(393/7));
      z-index: 3;
    }

    @include sm {
      margin-bottom: -0.7rem;
    }

    .price-list__page & {
      margin-bottom: 4rem;

      @include md {
        margin-bottom: calc(100vw/(393/30));
      }

      @include sm {
        margin-bottom: 3rem;
      }
    }
  }

  .general__title {

    h2 {
      line-height: 120%;
    }

    span {

      &:last-child {
        display: block;
        margin-top: -3.6rem;

        @include md {
          margin-top: calc(-100vw/(393/12));
        }

        @include sm {
          margin-top: -1.2rem;
        }
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include md {
      gap: calc(100vw/(393/8));
    }

    @include sm {
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - ((2rem * 3) / 4));
    height: 57.7rem;
    padding: 24rem 6rem 6rem 6rem;
    overflow: hidden;
    border-radius: var(--border-radius);

    position: relative;

    @include md {
      width: calc(50% - (100vw/(393/4)));
      min-height: unset;
      height: auto;
      padding: calc(100vw/(393/30)) calc(100vw/(393/20)) calc(100vw/(393/20));
      aspect-ratio: 173/180;
    }

    @include sm {
      padding: 3rem 2rem 2rem;
    }

    &:hover {
      color: var(--pink-2);

      .btn::before {
        opacity: 1;
      }

      img {
        transform: scale(1.4);
      }
    }

    &-title {
      transition: all 0.5s ease;
    }

    .btn {
      --btn-width: 7rem;
      --btn-height: 7rem;

      padding: 0;
      margin: 0 0 0 auto;

      @include md {
        --btn-width: calc(100vw/(393/40));
        --btn-height: calc(100vw/(393/40));
      }

      @include sm {
        --btn-width: 4rem;
        --btn-height: 4rem;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(6.35px);
      box-shadow: inset 0px 0px 11.4px rgba(2, 10, 81, 0.41);

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.54;
        transition: all 5s linear;
        background: linear-gradient(0deg, rgba(12, 15, 27, 0.3), rgba(12, 15, 27, 0.3));
        mix-blend-mode: lighten;
      }
    }
  }
}