@use './../mixins' as *;

.plate {
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  transition: all 0.5s ease;
  will-change: top;
  pointer-events: none;

  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 300;

  @include md {
    padding: 0 calc(100vw/(393/10));

    top: 0;
  }

  @include sm {
    padding: 0 1rem;
  }

  &__inner {
    --border-radius: 10rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0.6rem 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
    pointer-events: all;
    border-radius: var(--border-radius);

    @include md {
      gap: calc(100vw/(393/50));
      padding: calc(100vw/(393/5)) calc(100vw/(393/6)) calc(100vw/(393/5)) calc(100vw/(393/8));
      margin-bottom: calc(100vw/(393/5));
    }

    @include sm {
      gap: 5rem;
      padding: 0.5rem 0.6rem 0.5rem 0.8rem;
      margin-bottom: 0.5rem;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include md {
      gap: calc(100vw/(393/10));
    }

    @include sm {
      gap: 1rem;
    }
  }

  .btn--inner {
    width: calc(100% - 5rem - 11rem);

    @include md {
      width: calc(100vw/(393/200));
    }

    @include sm {
      width: calc(100% - 5rem - 11rem);
    }
  }
}